body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Align items to the top */
    align-items: center;
    min-height: 100vh;  /* Ensure the body takes at least the full viewport height */
    /* background: url('https://github.com/william-sy/wordless-book.github.io/blob/master/images/fulls/w8.jpg?raw=true') no-repeat center center fixed; */
    background-size: cover;
    color: white;
    text-align: center;
    overflow-y: auto; /* Enable vertical scrolling */
}
.morning {
    background-image: url('https://github.com/william-sy/wordless-book.github.io/blob/master/images/fulls/w22.jpg?raw=true');
    background-position: bottom;
}
.afternoon {
    background-image: url('https://github.com/william-sy/wordless-book.github.io/blob/master/images/fulls/w8.jpg?raw=true');
    background-position: bottom;
}
.evening {
    background-image: url('https://github.com/william-sy/wordless-book.github.io/blob/master/images/fulls/w14.jpg?raw=true');
}   
.header {
    background: rgba(0, 0, 0, 0.5);
    padding: 10px 0;
    font-size: 1.2em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000; /* Ensure header stays on top */
    flex-wrap: wrap; /* Allow wrapping */
    width: 100%;
}
.header div {
    color: #FF8303; /* Updated burnt orange */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    margin: 5px 10px; /* Add margin for spacing */
}
.container {
    width: 90%;
    max-width: 1200px;
    padding: 10px;
    background: transparent;
    border-radius: 0px;
    animation: fadeIn 0.5s ease-in-out;
    margin-top: 80px; /* Adjust for header height */
}
h1 {
    font-size: 3em;
    margin-bottom: 1em;
    color: #FF8303; /* Updated burnt orange */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.section {
    margin-bottom: 20px;
}
.section h2 {
    font-size: 2em;
    margin-bottom: 10px;
    color: #FF8303; /* Updated burnt orange */
    background: rgba(0, 0, 0, 0.5); /* Background for section headers */
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
}
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 20px;
    justify-content: center; /* Center the grid items */
}
.grid-item {
    background: rgba(211, 211, 211, 0.8); /* Light grey */
    padding: 10px;
    border-radius: 5px;
    transition: transform 0.3s, background 0.3s;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Align content to bottom */
    height: auto; /* Set a flexible height for grid items */
}
.grid-item:hover {
    background: rgba(211, 211, 211, 1); /* Slightly darker grey on hover */
    transform: translateY(-5px);
}
.grid-item img {
    max-width: 100px;
    max-height: 100px;
    margin: 0 auto 10px; /* Center image and add bottom margin */
}
.grid-item a {
    color: #333; /* Dark grey for text */
    text-decoration: none;
    font-weight: bold;
    display: block;
    margin-top: auto; /* Push link to the bottom */
}
.grid-item a:hover {
    text-decoration: none;
}
.grid-item a:visited {
    color: #333; /* Ensure visited links remain dark grey */
}
.grid-item a[target="_blank"]::after {
    content: ""; /* Indicate links open in a new tab */
}
@media (max-width: 600px) {
    .header div:not(#amsterdam) {
    display: none; /* Hide other timezones on small screens */
}
h1 {
    font-size: 2em;
}
.grid-item {
    padding: 10px;
}
}
@keyframes fadeIn {
from { opacity: 0; }
to { opacity: 1; }
}